<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".Home.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningEnglishApplication">
        <activity
            android:name=".Home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Auth.LoginActivity" />

        <activity android:name=".Auth.RegisterActivity" />
        <activity android:name=".category.CategoryManagementActivity" />
        <activity android:name=".category.AddEditCategoryActivity" />
        <activity android:name=".Vocabulary.VocabularyListActivity" />
        <activity android:name=".Vocabulary.AddEditVocabularyActivity" />
        <activity android:name=".Vocabulary.FlashcardActivity" />
        <activity android:name=".Quiz.QuizSetupActivity" />
        <activity android:name=".Quiz.QuizActivity" />
        <activity android:name=".Quiz.QuizResultActivity" />
        <activity android:name=".Profile.ProfileSettingsActivity" />
        <activity android:name=".Vocabulary.VocabularyDetailActivity" />
        <activity android:name=".Achivements.AchievementsActivity" />
        <activity android:name=".Quiz.MatchingQuizActivity" />
        <activity android:name=".Quiz.MeaningQuizActivity" />
        <!-- Đăng ký BroadcastReceiver cho thông báo nhắc nhở học tập -->
        <receiver
            android:name=".Receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>